<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head">


</head>

<body>
<!--<div style="background-image: url('/image/wallpaper5.jpg'); z-index: -1; background-position: center;-->
<!--background-repeat: no-repeat; background-size: 100%">-->

<!-- Static navbar -->
<div th:replace="/fragments/header :: fragments-navbar"></div>

<div class="container">
    <div class="table-responsive">

        <table id="pictureListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><input th:id="selectAllPictures" type="checkbox"/></th>
                <th>Tytuł</th>
                <th>Rozmiar</th>
                <th>Kategoria</th>
                <th>Waga</th>
                <th>Cena</th>
                <th>Zniżka</th>
                <th>Dostępność</th>
                <th>Operacja</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="picture : ${listOfPictures}">
                <td>
                    <input hidden="hidden" name="id" th:value="${picture.id}"/>
                    <input th:id="'selected'+${picture.id}" class="checkboxPicture" type="checkbox"/>
                </td>
                <td><a th:href="@{/picture/pictureInfo(id=${picture.id})}"><span th:text="${picture.title}"></span></a>
                </td>
                <td th:text="${picture.size}"></td>
                <td th:text="${picture.category}"></td>
                <td th:text="${picture.weight}"></td>
                <td th:text="${picture.listPrice}"></td>
                <td th:text="${picture.ourPrice}"></td>
                <td th:text="${picture.active}"></td>
                <td>
                    <input hidden="hidden" name="id" th:value="${picture.id}"/>
                    <button class="btn btn-danger btn-xs">
                        <a th:href="@{/removePicture(id=${picture.id})}"><span style="color: black">Usuń</span></a>&nbsp;&nbsp;
                    </button>
<!--                    <button th:id="'onePicture-'+${picture.id}" class="btn btn-danger btn-xs delete-picture"-->
<!--                            type="submit" value="delete-picture">-->
<!--                        <span>Usuń</span>-->
<!--                    </button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger">Usuń zaznaczone</button>

</div>
<!--<div th:replace="fragments/header :: fragments-scripts-bottom"></div>-->

<div th:replace="fragments/header :: body-bottom-scripts"></div>
<script>
    $(document).ready(function () {

        $("#listOfPictures").on('page.dt', function () {
            $('html, body').animate({
                scrollTop: $('#listOfPictures').offset().top
            }, 200);
        });
    });
</script>
</body>
</html>
