<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;
background-repeat: no-repeat; background-size: 100%; height: 100%">

    <!-- Static navbar -->
    <div th:replace="/fragments/header :: fragments-navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive logo"/>
            </div>
            <div class="col-xs-8">
                <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
                <h2 class="section-headline"><span>Moje konto</span></h2>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-xs-9 col-xs-offset-3">
                <h5>Żądana ścieżka jest nieprawidłowa. Kliknij <a th:href="@{/}">tu</a>, aby wrócić do strony głównej.</h5>
            </div>
        </div>
    </div>

    <div th:replace="fragments/header :: footer"></div>

    <div th:replace="fragments/header :: fragments-scripts-bottom"></div>
    <!--        <div th:fragment="body-bottom-scripts"></div>-->
</div>
</body>
</html>