<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<!--<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;-->
<!--background-repeat: no-repeat; background-size: 100%; height: 100%">-->

<!-- Static navbar -->
<div th:replace="/fragments/header :: fragments-navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img src="/image/logo.jpg" class="img-responsive logo"/>
        </div>
        <div class="col-xs-8">
            <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
            <h2 class="section-headline"><span
                    th:text="${user}? ${#strings.toUpperCase(user.username)} : 'Wszystkie obrazy'">Moje konto</span>
            </h2>
        </div>
    </div>

    <div class="row" style="margin-top: 100px">
        <div class="col-xs-3">
            <h3><label for="category">Kategoria</label></h3>
            <div class="list-group" id="category">
                <a th:href="@{/catalog(category='all')}" th:classappend="${activeAll}? 'active'"
                   class="list-group-item" style="background-color: deepskyblue">Wszystkie</a>
                <a th:href="@{/searchByCategory(category='animals')}" th:classappend="${activeAnimals}? 'active'" class="list-group-item" style="background-color: deepskyblue">Zwierzęta</a>
                <a th:href="@{/searchByCategory(category='family')}" th:classappend="${activeFamily}? 'active'" class="list-group-item" style="background-color: deepskyblue">Rodzina</a>
                <a th:href="@{/searchByCategory(category='hobby')}" th:classappend="${activeHobby}? 'active'" class="list-group-item" style="background-color: deepskyblue">Hobby</a>
                <a th:href="@{/searchByCategory(category='love')}" th:classappend="${activeLove}? 'active'" class="list-group-item" style="background-color: deepskyblue">Miłość</a>
                <a th:href="@{/searchByCategory(category='maps')}" th:classappend="${activeMaps}? 'active'" class="list-group-item" style="background-color: deepskyblue">Mapy</a>
                <a th:href="@{/searchByCategory(category='mom')}" th:classappend="${activeMom}? 'active'" class="list-group-item" style="background-color: deepskyblue">Mama</a>
                <a th:href="@{/searchByCategory(category='names')}" th:classappend="${activeNames}? 'active'" class="list-group-item" style="background-color: deepskyblue">Imiona</a>
                <a th:href="@{/searchByCategory(category='religion')}" th:classappend="${activeReligion}? 'active'" class="list-group-item" style="background-color: deepskyblue">Religia</a>
                <a th:href="@{/searchByCategory(category='sport')}" th:classappend="${activeSport}? 'active'" class="list-group-item" style="background-color: deepskyblue">Sport</a>
                <a th:href="@{/searchByCategory(category='other')}" th:classappend="${activeOther}? 'active'" class="list-group-item" style="background-color: deepskyblue">Inne</a>
            </div>
        </div>
        <div class="col-xs-4 col-xs-5">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic">Upss... nie znaleziono obrazów. Spróbuj później.</h5>
            </div>

            <table border="0" id="pictureList">
                <thead>
                <tr>
                    <th>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr class="picture-item" data-th-each="picture : ${pictureList}">
                    <td>
                        <div th:if="${picture != null}">
                            <div class="row" style="margin-bottom: 50px">
                                <div class="col-xs-3">
                                    <a th:href="@{/pictureDetail?id=}+${picture.id}">
                                        <img class="img-responsive"
                                             th:src="@{http://localhost:8283}+@{/image/picture/}+${picture.id}+'.png'"/>
                                    </a>
                                </div>
                                <div class="col-xs-9">
                                    <a th:href="@{/pictureDetail?id=}+${picture.id}"><h4
                                            th:text="${picture.title}"></h4></a>
                                    <br>
                                    <span th:text="${picture.size}"></span>
                                    <br>
                                    <span th:text="${picture.category}"></span>
                                    <br>
                                    <span style="font-size: x-large; color: red;"> PLN <span
                                            th:text="${#numbers.formatDecimal(picture.ourPrice, 0, 'COMMA',
                                            2, 'POINT')}"></span></span>
                                    <br>
                                    <span style="text-decoration: line-through;"> PLN <span
                                            th:text="${#numbers.formatDecimal(picture.listPrice, 0, 'COMMA',
                                            2, 'POINT')}"></span></span>
                                    <br>
                                    <p th:utext="${#strings.abbreviate(picture.description, 1000)}"></p>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!--                <img class="img-responsive" src="/image/wallpaper11.jpg"/>-->
    </div>

    <div th:replace="fragments/header :: fragments-scripts-bottom"></div>
</div>

<div th:replace="fragments/header :: footer"></div>


</body>
</html>