<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;
background-repeat: no-repeat; background-size: 100%; height: 100%">

    <!-- Static navbar -->
    <div th:replace="/fragments/header :: fragments-navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive logo"/>
            </div>
            <div class="col-xs-8">
                <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
                <h2 class="section-headline"><span>Moje konto</span></h2>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <form th:action="@{/checkout}" method="post">

                <!--                Left panel-->
                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button type="submit" class="btn btn-warning btn-block">Złóż zamówienie</button>
                            <p style="font-size: smaller">Składając zamówienie akceptujesz naszą <a href="#">politykę
                                prywatności</a>
                                oraz <a href="#">warunki użytkowania</a>.</p>
                            <hr/>
                            <h3>Podsumowanie</h3>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    Cena przed podatkiem:
                                </div>
                                <div class="col-xs-5 text-right">
                                    PLN <span th:text="${shoppingCart.grandTotal}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    Podatek:
                                </div>
                                <div class="col-xs-5 text-right">
                                    PLN <span th:with="tax=${shoppingCart.grandTotal*0.05}"
                                              th:text="${#numbers.formatDecimal(tax, 1, 2)}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    <h3 style="color: darkred"><strong>Podsumowanie zamówienia: </strong></h3>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <h3><strong style="color: darkred">PLN <span
                                            th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.05}"
                                            th:text="${#numbers.formatDecimal(total, 1, 2)}"></span></strong></h3>
                                </div>
                            </div>
                            <div class="panel-footer">Cena nie zawiera kosztów wysyłki.</div>
                        </div>
                    </div>
                </div>

                <!--                Checkout info-->
                <div class="col-xs-8">
                    <div th:if="${missingRequiredField}">
                        <h5 class="alert alert-warning">Wypełnij wszystkie wymagane pola.</h5>
                    </div>
                    <div class="panel-group" id="accordion">
                        <!-- 1 Shipping address-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#shippingInfo">
                                        1. Adres wysyłki
                                    </a>
                                </h4>
                            </div>
                            <div id="shippingInfo" class="panel-collapse collapse"
                                 th:classappend="${classActiveShipping}? 'in'">
                                <div class="panel-body">
                                    <table class="table" th:if="${not emptyShippingList}">
                                        <thead>
                                        <tr>
                                            <th>Dostępny adres wysyłki</th>
                                            <th>Operacje</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userShipping : ${userShippingList}">
                                            <td th:text="${userShipping.userShippingStreet1}+' '
                                                +${userShipping.userShippingStreet2}+', '+${userShipping.userShippingCity}
                                                +', '+${userShipping.userShippingProvince}">
                                            </td>
                                            <td>
                                                <a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">użyj
                                                    tego adresu</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="form-group">
                                        <label for="shippingName">* Nazwa odbiorcy</label>
                                        <input type="text" class="form-control" id="shippingName"
                                               placeholder="Nazwa odbiorcy" name="shippingAddressName"
                                               th:value="${shippingAddress.shippingAddressName}"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="shippingStreet">* Adres</label>
                                        <input type="text" class="form-control" id="shippingStreet"
                                               placeholder="Adres" name="shippingAddressStreet1"
                                               th:value="${shippingAddress.shippingAddressStreet1}"/>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               placeholder="Adres" name="shippingAddressStreet2"
                                               th:value="${shippingAddress.shippingAddressStreet2}"/>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="shippingCity">* Miasto</label>
                                                <input type="text" class="form-control" id="shippingCity"
                                                       placeholder="Miasto" name="shippingAddressCity"
                                                       required="required"
                                                       th:value="${shippingAddress.shippingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="shippingProvince">* Województwo</label>
                                                <select class="form-control" id="shippingProvince"
                                                        th:name="shippingAddressProvince"
                                                        required="required"
                                                        th:value="${shippingAddress.shippingAddressProvince}">
                                                    <option value="" disabled="disabled">Wybierz województwo
                                                    </option>
                                                    <option th:each="province : ${provinceValueList}"
                                                            th:text="${province}"
                                                            th:selected="(${shippingAddress.shippingAddressProvince}==${province})">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="shippingZipcode">* Kod pocztowy</label>
                                                <input type="text" class="form-control" id="shippingZipcode"
                                                       placeholder="Kod pocztowy" th:name="shippingAddressZipcode"
                                                       required="required"
                                                       th:value="${shippingAddress.shippingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       class="btn btn-warning pull-right" href="#paymentInfo">Dalej</a>
                                </div>
                            </div>
                        </div>

                        <!--                            2. Payment info-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">
                                        2. Informacje o płatności
                                    </a>
                                </h4>
                            </div>

                            <div id="paymentInfo" class="panel-collapse collapse"
                                 th:classappend="${classActivePayment}? 'in'">
                                <div class="panel body">
                                    <table class="table" th:if="${not emptyPaymentList}">
                                        <thead>
                                        <tr>
                                            <th>Dostępna karta płatnicza</th>
                                            <th>Operacje</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userPayment : ${userPaymentList}">
                                            <td th:text="${userPayment.cardName}">
                                            </td>
                                            <td>
                                                <a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">użyj
                                                    tej formy płatności</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--                                        Credit card information-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img th:src="@{/image/creditcard.png}" class="img-responsive"/>
                                            <br/>

                                            <div class="form-group">
                                                <label for="cardType"></label>
                                                <select class="form-control" id="cardType" name="type"
                                                        th:value="${payment.type}">
                                                    <option value="visa">Visa</option>
                                                    <option value="mastercard">Mastercard</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="cardHolder">* Właściciel karty</label>
                                                <input type="text" class="form-control" id="cardHolder"
                                                       required="required" placeholder="Właściciel karty"
                                                       th:name="holderName"
                                                       th:value="${payment.holderName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">* Numer karty</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" id="cardNumber"
                                                           required="required" placeholder="Numer karty"
                                                           th:name="cardNumber"
                                                           th:value="${payment.cardNumber}"/>
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"
                                                                                       aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <label>* Data ważności</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryMonth"
                                                                required="required"
                                                                th:value="${payment.expiryMonth}">
                                                            <option disabled="disabled">Miesiąc</option>
                                                            <option value="01">Styczeń (01)</option>
                                                            <option value="02">Luty (02)</option>
                                                            <option value="03">Marzec (03)</option>
                                                            <option value="04">Kwiecień (04)</option>
                                                            <option value="05">Maj (05)</option>
                                                            <option value="06">Czerwiec (06)</option>
                                                            <option value="07">Lipiec (07)</option>
                                                            <option value="08">Sierpień (08)</option>
                                                            <option value="09">Wrzesień (09)</option>
                                                            <option value="10">Październik (10)</option>
                                                            <option value="11">Listopad (11)</option>
                                                            <option value="12">Grudzień (12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryYear"
                                                                th:value="${payment.expiryYear}">
                                                            <option disabled="disabled">Rok</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                            <option value="2027">2027</option>
                                                            <option value="2028">2028</option>
                                                            <option value="2029">2029</option>
                                                            <option value="2030">2030</option>
                                                            <option value="2030">2030</option>
                                                            <option value="2031">2031</option>
                                                            <option value="2032">2032</option>
                                                            <option value="2033">2033</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label for="cardCVC">* CVC</label>
                                                <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                                       placeholder="CVC" th:name="cvc"
                                                       th:value="${payment.cvc}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                                        Billing address-->
                                    <div class="checkbox">
                                        <label>
                                            <input id="theSameAsShippingAddress" type="checkbox"
                                                   name="billingSameAsShipping" value="true"/>Taki sam jak adres
                                            wysyłki
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="billingName">* Nazwa odbiorcy</label>
                                        <input type="text" class="form-control billingAddress" id="billingName"
                                               placeholder="Nazwa odbiorcy" th:name="billingAddressName"
                                               required="required" th:value="${billingAddress.billingAddressName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingAddress">* Adres</label>
                                        <input type="text" class="form-control billingAddress" id="billingAddress"
                                               placeholder="Adres" th:name="billingAddressStreet1"
                                               required="required"
                                               th:value="${billingAddress.billingAddressStreet1}"/>

                                        <input type="text" class="form-control billingAddress"
                                               placeholder="Adres" th:name="billingAddressAddress2"
                                               th:value="${billingAddress.billingAddressStreet2}"/>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="billingCity">* Miasto</label>
                                                <input type="text" class="form-control billingAddress" id="billingCity"
                                                       placeholder="Miasto" th:name="billingAddressCity"
                                                       required="required"
                                                       th:value="${billingAddress.billingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="billingProvince">* Województwo</label>
                                                <select class="form-control billingAddress" id="billingProvince"
                                                        th:name="billingAddressProvince"
                                                        required="required"
                                                        th:value="${billingAddress.billingAddressProvince}">
                                                    <option value="" disabled="disabled">Wybierz województwo
                                                    </option>
                                                    <option th:each="province : ${provinceValueList}"
                                                            th:text="${province}"
                                                            th:selected="(${billingAddress.billingAddressProvince}==${province})">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="billingZipcode">* Kod pocztowy</label>
                                                <input type="text" class="form-control billingAddress"
                                                       id="billingZipcode"
                                                       placeholder="Kod pocztowy" th:name="billingAddressZipcode"
                                                       required="required"
                                                       th:value="${billingAddress.billingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <a data-toggle="collapse" data-parent="#accordion"
                                       class="btn btn-warning pull-right" href="reviewItems">Dalej</a>
                                </div>
                            </div>
                        </div>

                        <!--                            3. Review items and shipping-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#reviewItems">
                                        3. Przegląd zamówienia i wysyłki
                                    </a>
                                </h4>
                            </div>
                            <div id="reviewItems" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4>Wybierz metodę wysyłki:</h4>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="Kurier"
                                                   checked="checked"/>
                                            Kurier
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="Paczkomat"/>
                                            Paczkomat
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="Odbiór osobisty"/>
                                            Odbiór osobisty
                                        </label>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-8"><h4>Produkty</h4></div>
                                        <div class="col-xs-2"><h4>Cena</h4></div>
                                        <div class="col-xs-2"><h4>Ilość</h4></div>
                                    </div>

                                    <!-- Products in cart-->
                                    <div class="row" th:each="cartItem : ${cartItemList}">
                                        <hr/>
                                        <div class="col-xs-2">
                                            <a th:href="@{/pictureDetail(id=${cartItem.picture.id})}">
                                                <img class="img-responsive"
                                                     th:src="@{http://localhost:8283}+@{/image/picture/}+${cartItem.picture.id}+'.png'"
                                                     style="width: 70%"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <p th:if="${cartItem.picture.inStockNumber&gt;5}"
                                               style="color:green;">Duża ilość w
                                                magazynie.</p>
                                            <p th:if="${cartItem.picture.inStockNumber&lt;5 and cartItem.picture.inStockNumber&gt;0}"
                                               style="color: orange">
                                                Pozostało <span
                                                    th:text="${cartItem.picture.inStockNumber}"></span> sztuk.
                                            </p>
                                            <p th:if="${cartItem.picture.inStockNumber==0}" style="color:red;">
                                                Produkt niedostępny.</p>
                                            <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Usuń</a>
                                        </div>
                                        <div class="col-xs-2">
                                            <h5 style="color: darkred; font-size: large">PLN <span
                                                    th:text="${cartItem.picture.ourPrice}"
                                                    th:style="${cartItem.picture.inStockNumber}==0? 'text-decoration: line-through' : ''">
                                                    </span></h5>
                                        </div>
                                        <div class="col-xs-2">
                                            <h5 style="font-size: large" th:text="${cartItem.qty}"></h5>
                                        </div>
                                    </div>

                                    <hr/>
                                    <h4 class="col-xs-12 text-right"><strong style="font-size: large;">Całkowity
                                        koszt zamówienia: </strong>
                                        <span style="color: darkred; font-size: large;"> PLN <span
                                                th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.05}"
                                                th:text="${#numbers.formatDecimal(total, 1, 2)}"></span>
                                    </h4>
                                    <br/><br/>
                                    <button type="submit" class="btn btn-warning btn-block">Złóż zamówienie</button>
                                    <p style="font-size: smaller">Składając zamówienie akceptujesz naszą <a
                                            href="#">politykę
                                        prywatności</a>
                                        oraz <a href="#">warunki użytkowania</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/header :: footer"></div>

    <div th:replace="fragments/header :: fragments-scripts-bottom"></div>
    <!--        <div th:fragment="body-bottom-scripts"></div>-->
</div>
</body>
</html>