<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<div style="background-image: url('/image/wallpaper5.jpg'); z-index: -1; background-position: center;
background-repeat: no-repeat; background-size: 100%">
<!-- Static navbar -->
<div th:replace="/fragments/header :: fragments-navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img src="/image/logo.jpg" class="img-responsive logo">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body" style="background-color: #ffffff">

                    <!--Carousel-->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="center" src="/image/animals/9.jpg" alt="Birds">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="/image/animals/2.jpg" alt="Cat">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="/image/love/23.jpg" alt="Hearths">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="/image/mom/37.jpg" alt="Heart mom">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr/>

    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/catalog}"><img src="/image/bestsellers.jpg" class="img-responsive center" alt="Bestsellers"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/contact}"><img src="/image/contact.jpg" class="img-responsive" alt="Address" style="height: 200px"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/faq}"><img src="/image/faq.jpg" class="img-responsive" alt="FAQ" style="height: 100px"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="home-headline"><span>Polecane obrazy</span></div>
    <hr style="margin-top: -15px"/>

    <div class="row">
        <div id="featured-picture" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#featured-picture" data-slide-to="0" class="active"></li>
                <li data-target="#featured-picture" data-slide-to="1"></li>
                <li data-target="#featured-picture" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="/image/family/18.png"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/family/19.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/family/20.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/love/27.png"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/love/30.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/love/28.jpg"/></div>
                    </div>
                    <!--                    <img class="center" src="#" alt="...">-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/42.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/43.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/44.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/45.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/46.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/religion/47.jpg"/></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/2.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/9.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/4.png"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/5.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/8.jpg"/></div>
                        <div class="col-xs-2"><img class="img-responsive" src="/image/animals/7.png"/></div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#featured-picture" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#featured-picture" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

</div><!--End of container-->

<div th:replace="fragments/header :: footer"></div>

<div th:replace="fragments/header :: fragments-scripts-bottom"></div>
<!--<div th:replace="fragments/header :: body-bottom-scripts"></div>-->
</body>
</html>
