<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- Bootstrap core CSS -->
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>-->

    <!-- Custom styles for this template -->
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->

<!--    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">-->

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body>

<p>Drogi <span th:text="${user.firstname}"></span>!</p>
<br/>
<p>Dziękujemy za złożenie zamówienia w naszym sklepie. Mamy nadziję, że zakupiony produkt sprawi Ci radość!</p>
<br/>
<p>Numer Twojego zamówienia: <strong><span th:text="${order.id}"></span></strong>.</p>
<br/>
<p>Szczegóły zamówienia:</p>
<hr/>

<table>
    <tr>
        <th>Szczegóły rachunku</th>
        <th>Informacje o płatności</th>
        <th>Adres wysyłki</th>
    </tr>
    <tr>
        <td>
            <span th:text="${order.billingAddress.billingAddressName}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressProvince}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
        </td>
        <td>
            <span th:text="${order.payment.holderName}"></span><br/>
            <span th:text="${order.payment.type}"></span><br/>
            <span th:text="${order.payment.cardNumber}"></span><br/>
            <span th:text="${order.payment.expiryMonth}"></span><br/>
            <span th:text="${order.payment.expiryYear}"></span><br/>
        </td>
        <td>
            <span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressProvince}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
        </td>
    </tr>
</table>

<h3><strong>Podsumowanie zamówienia</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Nazwa produktu</strong></td>
        <td class="text-center"><strong>Cena</strong></td>
        <td class="text-center"><strong>Ilość</strong></td>
        <td class="text-right"><strong>Suma</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td><span data-th-text="${cartItem.picture.title}"></span></td>
        <td class="text-center" data-th-text="${cartItem.picture.ourPrice}"></td>
        <td class="text-center" data-th-text="${cartItem.qty}"></td>
        <td class="text-right" data-th-text="${cartItem.subtotal}"></td>
    </tr>

    <tr>
        <td class="highrow"></td>
        <td class="highrow"></td>
        <td class="highrow text-center"><strong>Cena</strong></td>
        <td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
    </tr>
    <tr>
        <td class="emptyrow"></td>
        <td class="emptyrow"></td>
        <td class="emptyrow text-center"><strong>Podatek</strong></td>
        <td class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal * 0.05, 1, 2)}"></td>
    </tr>
    <tr>
        <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
        <td class="emptyrow"></td>
        <td class="emptyrow text-center"><strong>Całkowity koszt</strong></td>
        <td th:with="total=${order.orderTotal + order.orderTotal * 0.05}"
            data-th-text="${#numbers.formatDecimal(total, 1, 2)}"
            class="emptyrow text-right"></td>
    </tr>
    </tbody>
</table>

<br/>
<p>Pozdrawiamy</p>
<p>String Very Art</p>

</body>
</html>