<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;
background-repeat: no-repeat; background-size: 100%; height: 100%">

    <!-- Static navbar -->
    <div th:replace="/fragments/header :: fragments-navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive logo"/>
            </div>
            <div class="col-xs-8">
                <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
                <h2 class="section-headline"><span>Moje konto</span></h2>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12">
                <div class="alert alert-success">
                    <h3><i class="fa fa-check" aria-hidden="true" style="color: lightgreen"></i></h3>
                    Dziękujemy za złożenie zamówienia.
                    <h4>Przewidywany czas dostawy: <span th:text="${estimatedDeliveryDate}"></span></h4>
                </div>

                <h3>Lista zakupionych przedmiotów:</h3>
                <div class="row" th:each="cartItem : ${cartItemList}">
                    <hr/>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2">

                        <a th:href="@{/pictureDetail(id=${cartItem.picture.id})}">
                            <img class="img-responsive"
                                 th:src="@{http://localhost:8283}+@{/image/picture/}+${cartItem.picture.id}+'.png'"
                                 style="width: 70%"/>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a th:href="@{/pictureDetail?id=}+${cartItem.picture.id}"><h4
                                th:text="${cartItem.picture.title}"></h4></a>
                    </div>
                    <div class="col-xs-2">
                        <h5 style="color: darkred; font-size: large">PLN <span
                                th:text="${cartItem.picture.ourPrice}"
                                th:style="${cartItem.picture.inStockNumber}==0? 'text-decoration: line-through' : ''">
                                                    </span></h5>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/header :: fragments-scripts-bottom"></div>
        <!--        <div th:fragment="body-bottom-scripts"></div>-->
    </div>
    <div th:replace="fragments/header :: footer"></div>
</div>
</body>
</html>