<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<!--<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;-->
<!--background-repeat: no-repeat; background-size: 100%; height: 100%">-->

<!-- Static navbar -->
<div th:replace="/fragments/header :: fragments-navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img src="/image/logo.jpg" class="img-responsive logo"/>
        </div>
        <div class="col-xs-8">
            <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
            <h2 class="section-headline"><span
                    th:text="${user}? ${#strings.toUpperCase(user.username)} : 'Wszystkie obrazy'"></span>
            </h2>
        </div>
    </div>

    <form th:action="@{/shoppingCart/addItem}" method="post">
        <input hidden="hidden" th:field="*{picture.id}"/>
        <div class="row" style="margin-top: 120px;">
            <div class="col-xs-3">
                <a th:href="@{/catalog}">Powrót do listy obrazów</a><br/>
                <img class="img-responsive"
                     th:src="@{http://localhost:8283}+@{/image/picture/}+${picture.id}+'.png'"/>
            </div>
            <div class="col-xs-9">
                <h3><span th:if="${addPictureSuccess}" style="color: forestgreen"><i class="fa fa-check"
                                                                                     aria-required="true"
                                                                                     style="color: forestgreen">Produkt dodano do koszyka</i> </span>
                </h3>
                <h3><span th:if="${notEnoughtStock}" style="color: red">Zostało tylko <span
                        th:text="${picture.inStockNumber}"></span> sztuk.</i> </span>
                </h3>
                <h3 th:text="${picture.title}">Tytuł obrazu</h3>
                <div class="row">
                    <div class="col-xs-5">
                        <h5><strong>Rozmiar: </strong><span th:text="${picture.size}"></span></h5>
                        <p><h5><strong>Kategoria: </strong><span th:text="${picture.category}"></span></h5></p>
                        <p><h5><strong>Waga: </strong><span th:text="${picture.weight}"></span></h5></p>
                    </div>

                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>Obniżka! <span style="color: #db3208;"> PLN<span
                                                th:text="${picture.ourPrice}"></span></span></h4>
                                        <p>Stara cena: <span style="text-decoration: line-through"> PLN<span
                                                th:text="${picture.listPrice}"></span></span></p>
                                        <p>Oszczędzasz: <span
                                                th:text="${#numbers.formatDecimal((picture.listPrice - picture.ourPrice),
                                                0, 'COMMA', 2, 'POINT')}"></span>
                                        </p>
                                        <span>Ilość:</span>
                                        <select name="qty">
                                            <option th:each="qty : ${quantityList}" th:value="${qty}"
                                                    th:text="${qty}"></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 th:if="*{picture.inStockNumber&gt;5}" style="color: green">W magazynie.</h4>
                                        <h4 th:if="*{picture.inStockNumber&lt;5 and picture.inStockNumber&gt;0}"
                                            style="color: orange">Zostało <span
                                                th:text="${picture.inStockNumber}"></span> sztuk.</h4>
                                        <h4 th:if="*{picture.inStockNumber==0}" style="color: darkgreen">Produkt
                                            niedostępny.</h4>
                                        <button type="submit" class="btn btn-warning" style="color: black; border: 1px
                                            solid black; padding: 10px 40px 10px 40px;">Dodaj do koszyka
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr/>
                    <p th:utext="${picture.description}"></p>
                </div>
            </div>
        </div>
    </form>


    <div th:replace="fragments/header :: fragments-scripts-bottom"></div>
</div>
<div th:replace="fragments/header :: footer"></div>
</body>
</html>