<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<div style="background-image: url('image/wallpaper2.jpg'); z-index: -1; background-position: center;
background-repeat: no-repeat; background-size: 100%; height: 100%">

    <!-- Static navbar -->
    <div th:replace="/fragments/header :: fragments-navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive logo"/>
            </div>
            <div class="col-xs-8">
                <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
                <h2 class="section-headline"><span
                        th:text="${user}? ${#strings.toUpperCase(user.username)}">Moje konto</span>
                </h2>
            </div>
        </div>

        <div class="row" style="margin-top: 100px">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 col-xs-4">

                <!--Nav tabs-->
                <ul class="nav nav-tabs">
                    <li th:classappend="${classActiveEdit}? 'active'"><a href="#tab-1" data-toggle="tab"><span
                            style="color: black">Edytuj</span></a></li>
                    <li th:classappend="${classActiveOrders}? 'active'"><a href="#tab-2" data-toggle="tab"><span
                            style="color: black">Rachunki</span></a></li>
                    <li th:classappend="${classActiveBilling}? 'active'"><a href="#tab-3" data-toggle="tab"><span
                            style="color: black">Zamówienia</span></a></li>
                    <li th:classappend="${classActiveShipping}? 'active'"><a href="#tab-4" data-toggle="tab"><span
                            style="color: black">Wysyłka</span></a></li>
                </ul>

                <!--Tab panels-->
                <div class="tab-content">
                    <!--Edit user information-->
                    <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #9acfea; margin-top: 20px">

                                    <div class="alert alert-danger" th:if="${incorrectPassword}">
                                        <strong>Hasło niepoprawne!</strong>
                                    </div>

                                    <div class="alert alert-success" th:if="${updateSuccess}">
                                        <strong>Dane zaktualizowano poprawnie.</strong>
                                    </div>


                                    <form th:action="@{/updateUserInfo}" method="post">
                                        <input type="hidden" name="id" th:value="${user.id}"/>

                                        <div class="bg-info" th:if="${updateUserInfo}">Informacje zaktualizowano!</div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="firstname">Imię</label>
                                                    <input type="text" class="form-control" id="firstname"
                                                           name="firstname"
                                                           th:value="${user.firstname}"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="lastname">Nazwisko</label>
                                                    <input type="text" class="form-control" id="lastname"
                                                           name="lastname"
                                                           th:value="${user.lastname}"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username">Nazwa użytkownika</label>
                                            <input type="text" class="form-control" id="username"
                                                   name="username"
                                                   th:value="${user.username}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="currentPassword">Obecne hasło</label>&nbsp;<span
                                                id="checkPasswordMatch" style="color: red"></span>
                                            <input type="password" class="form-control" id="currentPassword"
                                                   name="password"
                                                   th:value="${user.password}"/>
                                        </div>
                                        <p style="color: #828282">Wpisz swoje obecne hasło, aby zmienić e-mail lub
                                            hasło.</p>

                                        <div class="form-group">
                                            <label for="email">* E-mail</label>
                                            <input type="text" class="form-control" id="email"
                                                   name="email"
                                                   th:value="${user.email}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtNewPassword">Nowe hasło</label>
                                            <input type="password" class="form-control" id="txtNewPassword"
                                                   name="newPassword"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtConfirmPassword">Powtórz hasło</label>
                                            <input type="password" class="form-control" id="txtConfirmPassword"/>
                                        </div>

                                        <button id="updateUserInfoButton" class="btn btn-lg btn-primary btn-block"
                                                type="submit">Zapisz
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Billing information-->
                    <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveBilling}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #9acfea; margin-top: 20px">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/listOfCreditCards}"
                                               th:style="${listOfCreditCards}? 'color:red'">List of Credit Card</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/addNewCreditCard}"
                                               th:style="${addNewCreditCard}? 'color:red'">Add(Update) Credit Card</a>
                                        </li>
                                    </ol>

                                    <div th:if="${listOfCreditCards}">
                                        <form th:action="@{/setDefaultPayment}" method="post">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Default</th>
                                                    <th>Credit Card</th>
                                                    <th>Operations</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userPayment : ${userPaymentList}">
                                                    <td>
                                                        <input type="radio" name="defaultUserPaymentId"
                                                               th:value="${userPayment.id}"
                                                               th:checked="${userPayment.defaultPayment}"/>
                                                    </td>
                                                    <td th:text="${userPayment.cardName}">
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/updateCreditCard(id=${userPayment.id})}">Edytuj</a>&nbsp;&nbsp;
                                                        <a th:href="@{/removeCreditCard(id=${userPayment.id})}">Usuń</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-primary" type="submit">Zapisz</button>
                                        </form>
                                    </div>

                                    <div th:if="${addNewCreditCard}">
                                        <form th:action="@{addNewCreditCard}" method="post">
                                            <div class="bg-info" th:if="${updateUserPaymentInfo}">Informacje
                                                zaktualizowano!
                                            </div>

                                            <input hidden="hidden" name="id" th:value="${userPayment.id}"/>

                                            <div class="form-group">
                                                <h5>* Nazwa karty</h5>
                                                <input type="text" class="form-control" id="cardName"
                                                       placeholder="Nazwa karty" th:name="cardName" required="required"
                                                       th:value="${userPayment.cardName}"/>
                                            </div>

                                            <!--  Billing Address-->
                                            <hr/>
                                            <div class="form-group">
                                                <h4>Dane do rachunku</h4>
                                            </div>
                                            <div class="form-group">
                                                <label for="billingName">* Nazwa odbiorcy</label>
                                                <input type="text" class="form-control" id="billingName"
                                                       placeholder="Nazwa odbiorcy" th:name="userBillingName"
                                                       required="required" th:value="${userBilling.userBillingName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="billingAddress">* Adres</label>
                                                <input type="text" class="form-control" id="billingAddress"
                                                       placeholder="Adres" th:name="userBillingAddress1"
                                                       required="required"
                                                       th:value="${userBilling.userBillingStreet1}"/>

                                                <input type="text" class="form-control"
                                                       placeholder="Adres" th:name="userBillingAddress2"
                                                       required="required"
                                                       th:value="${userBilling.userBillingStreet2}"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="billingCity">* Miasto</label>
                                                        <input type="text" class="form-control" id="billingCity"
                                                               placeholder="Miasto" th:name="userBillingCity"
                                                               required="required"
                                                               th:value="${userBilling.userBillingCity}"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="billingProvince">* Województwo</label>
                                                        <select class="form-control" id="billingProvince"
                                                                th:name="userBillingProvince"
                                                                required="required"
                                                                th:value="${userBilling.userBillingProvince}">
                                                            <option value="" disabled="disabled">Wybierz województwo
                                                            </option>
                                                            <option th:each="province : ${provinceValueList}"
                                                                    th:text="${province}"
                                                                    th:selected="(${userBilling.userBillingProvince}==${province})">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="billingZipcode">* Kod pocztowy</label>
                                                        <input type="text" class="form-control" id="billingZipcode"
                                                               placeholder="Kod pocztowy" th:name="userBillingZipcode"
                                                               required="required"
                                                               th:value="${userBilling.userBillingZipcode}"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Credit Card Information-->
                                            <hr/>
                                            <div class="form-group">
                                                <h4>Karta płatnicza - informacje</h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/image/creditcard.png}" class="img-responsive"/>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="cardType">* Wybierz rodzaj karty</label>
                                                        <select class="form-control" id="cardType" th:name="type"
                                                                th:value="${userPayment.type}">
                                                            <option value="visa">Visa</option>
                                                            <option value="mastercard">Mastercard</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardHolder">* Właściciel karty</label>
                                                        <input type="text" class="form-control" id="cardHolder"
                                                               required="required" placeholder="Właściciel karty"
                                                               th:name="holderName"
                                                               th:value="${userPayment.holderName}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardNumber">* Numer karty</label>
                                                        <div class="input-group">
                                                            <input type="tel" class="form-control" id="cardNumber"
                                                                   required="required" placeholder="Numer karty"
                                                                   th:name="cardNumber"
                                                                   th:value="${userPayment.cardNumber}"/>
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"
                                                                                               aria-hidden="true"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-7">
                                                    <div class="form-group">
                                                        <label>* Data ważności</label>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <select class="form-control" name="expiryMonth"
                                                                        required="required"
                                                                        th:value="${userPayment.expiryMonth}">
                                                                    <option disabled="disabled">Miesiąc</option>
                                                                    <option value="01">Styczeń (01)</option>
                                                                    <option value="02">Luty (02)</option>
                                                                    <option value="03">Marzec (03)</option>
                                                                    <option value="04">Kwiecień (04)</option>
                                                                    <option value="05">Maj (05)</option>
                                                                    <option value="06">Czerwiec (06)</option>
                                                                    <option value="07">Lipiec (07)</option>
                                                                    <option value="08">Sierpień (08)</option>
                                                                    <option value="09">Wrzesień (09)</option>
                                                                    <option value="10">Październik (10)</option>
                                                                    <option value="11">Listopad (11)</option>
                                                                    <option value="12">Grudzień (12)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select class="form-control" name="expiryYear"
                                                                        th:value="${userPayment.expiryYear}">
                                                                    <option disabled="disabled">Rok</option>
                                                                    <option value="2020">2020</option>
                                                                    <option value="2021">2021</option>
                                                                    <option value="2022">2022</option>
                                                                    <option value="2023">2023</option>
                                                                    <option value="2024">2024</option>
                                                                    <option value="2025">2025</option>
                                                                    <option value="2026">2026</option>
                                                                    <option value="2027">2027</option>
                                                                    <option value="2028">2028</option>
                                                                    <option value="2029">2029</option>
                                                                    <option value="2030">2030</option>
                                                                    <option value="2030">2030</option>
                                                                    <option value="2031">2031</option>
                                                                    <option value="2032">2032</option>
                                                                    <option value="2033">2033</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="form-group">
                                                        <label for="cardCVC">* CVC</label>
                                                        <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                                               placeholder="CVC" th:name="cvc"
                                                               th:value="${userPayment.cvc}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Order information-->
                    <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveOrders}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #9acfea; margin-top: 20px">

                                    <table class="table table-sm table-inverse">
                                        <thead>
                                        <tr>
                                            <th>Data zamówienia</th>
                                            <th>Numer zamówienia</th>
                                            <th>Cena</th>
                                            <th>Status zamówienia</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order : ${orderList}">
                                            <td><a th:href="@{/orderDetail(id=${order.id})}"><span
                                                    th:text="${order.orderDate}"></span></a></td>
                                            <td data-th-text="${order.id}"></td>
                                            <td data-th-text="${order.orderTotal}"></td>
                                            <td data-th-text="${order.orderStatus}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div th:if="${displayOrderDetail}">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="text-center">
                                                    <h2>Szczegóły zamówienia numer <span th:text="${order.id}"></span>
                                                    </h2>
                                                </div>
                                                <hr/>

                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="panel panel-default height">
                                                            <div class="panel-heading"><strong>Szczegóły
                                                                rachunku</strong></div>
                                                            <div class="panel-body">
                                                                <span th:text="${order.billingAddress.billingAddressName}"></span><br/>
                                                                <span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
                                                                <span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
                                                                <span th:text="${order.billingAddress.billingAddressProvince}"></span><br/>
                                                                <span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="panel panel-default height">
                                                            <div class="panel-heading"><strong>Szczegóły
                                                                płatności</strong></div>
                                                            <div class="panel-body">
                                                                <span th:text="${order.payment.holderName}">Nazwa właściciela karty</span><br/>
                                                                <span th:text="${order.payment.cardNumber}">Numer karty</span><br/>
                                                                <span>Data ważności:</span><span
                                                                    th:text="${order.payment.expiryMonth}"></span>/<span
                                                                    th:text="${order.payment.expiryYear}"></span><br/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="panel panel-default height">
                                                            <div class="panel-heading"><strong>Szczegóły
                                                                rachunku</strong></div>
                                                            <div class="panel-body">
                                                                <span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
                                                                <span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
                                                                <span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
                                                                <span th:text="${order.shippingAddress.shippingAddressProvince}"></span><br/>
                                                                <span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel-heading">
                                                    <h3 class="text-center"><strong>Podsumowanie zamówienia</strong>
                                                    </h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <td><strong>Nazwa produktu</strong></td>
                                                                <td class="text-center"><strong>Cena</strong></td>
                                                                <td class="text-center"><strong>Ilość</strong></td>
                                                                <td class="text-center"><strong>Koszt</strong></td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="cartItem : ${cartItemList}">
                                                                <td data-th-text="${cartItem.picture.title}"></td>
                                                                <td class="text-center"
                                                                    data-th-text="${cartItem.picture.ourPrice}"></td>
                                                                <td class="text-center"
                                                                    data-th-text="${cartItem.picture.qty}"></td>
                                                                <td class="text-center"
                                                                    data-th-text="${cartItem.picture.subtotal}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="highrow"></td>
                                                                <td class="highrow"></td>
                                                                <td class="highrow text-center"><strong>Cena</strong>
                                                                </td>
                                                                <td class="highrow text-right"
                                                                    data-th-text="${order.orderTotal}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow text-center">
                                                                    <strong>Podatek</strong></td>
                                                                <td class="emptyrow text-right"
                                                                    data-th-text="${#numbers.formatDecimal(order.orderTotal * 0.05, 1, 2)}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="emptyrow"><i
                                                                        class="fa fa-barcode iconbig"></i></td>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow text-center"><strong>Całkowity
                                                                    koszt</strong></td>
                                                                <td th:with="total=${order.orderTotal + order.orderTotal * 0.05}"
                                                                    data-th-text="${#numbers.formatDecimal(total, 1, 2)}"
                                                                    class="emptyrow text-right"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Shipping information-->
                    <div class="tab-pane fade" id="tab-4" th:classappend="${classActiveShipping}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #9acfea; margin-top: 20px">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/listOfShippingAddresses}"
                                               th:style="${listOfShippingAddresses}? 'color:red'">Lista adresów
                                                dostawy</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/addNewShippingAddress}"
                                               th:style="${addNewShippingAddress}? 'color:red'">Dodaj/zaktualizuj listę
                                                adresów dostawy</a>
                                        </li>
                                    </ol>

                                    <div th:if="${listOfShippingAddresses}">
                                        <form th:action="@{/setDefaultShippingAddress}" method="post">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Domyślne</th>
                                                    <th>Adres dostawy</th>
                                                    <th>Operacja</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userShipping : ${userShippingList}">
                                                    <td>
                                                        <input type="radio" name="defaultShippingAddressId"
                                                               th:value="${userShipping.id}"
                                                               th:checked="${userShipping.userShippingDefault}"/><span>domyślne</span>
                                                    </td>
                                                    <td th:text="${userShipping.userShippingStreet1}+', '+${userShipping.userShippingCity}+', '
                                                    +${userShipping.userShippingProvince}">
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/updateUserShipping(id=${userShipping.id})}">Edit
                                                            <i class="fa fa-pencil"></i>
                                                        </a>&nbsp;&nbsp;
                                                        <a th:href="@{/removeUserShipping(id=${userShipping.id})}">Delete
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-primary" type="submit">Zapisz</button>
                                        </form>
                                    </div>

                                    <div th:if="${addNewShippingAddress}">
                                        <form th:action="@{/addNewShippingAddress}" method="post">
                                            <div class="bg-info" th:if="${updateUserShippingInfo}">Informacje
                                                zaktualizowano!
                                            </div>

                                            <input hidden="hidden" name="id" th:value="${userShipping.id}"/>


                                            <!--  Shipping Address-->
                                            <hr/>
                                            <div class="form-group">
                                                <h4>Adres dostawy</h4>
                                            </div>
                                            <div class="form-group">
                                                <label for="shippingName">* Nazwa odbiorcy</label>
                                                <input type="text" class="form-control" id="shippingName"
                                                       placeholder="Nazwa odbiorcy" th:name="userShippingName"
                                                       required="required" th:value="${userShipping.userShippingName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="shippingAddress">* Adres</label>
                                                <input type="text" class="form-control" id="shippingAddress"
                                                       placeholder="Adres" th:name="userShippingAddress1"
                                                       required="required"
                                                       th:value="${userShipping.userShippingStreet1}"/>

                                                <input type="text" class="form-control"
                                                       placeholder="Adres" th:name="userShippingAddress2"
                                                       required="required"
                                                       th:value="${userShipping.userShippingStreet2}"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="shippingCity">* Miasto</label>
                                                        <input type="text" class="form-control" id="shippingCity"
                                                               placeholder="Miasto" th:name="userShippingCity"
                                                               required="required"
                                                               th:value="${userShipping.userShippingCity}"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="shippingProvince">* Województwo</label>
                                                        <select class="form-control" id="shippingProvince"
                                                                th:name="userShippingProvince"
                                                                required="required"
                                                                th:value="${userShipping.userShippingProvince}">
                                                            <option value="" disabled="disabled">Wybierz województwo
                                                            </option>
                                                            <option th:each="province : ${provinceValueList}"
                                                                    th:text="${province}"
                                                                    th:selected="(${userShipping.userShippingProvince}==${province})">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="shippingZipcode">* Kod pocztowy</label>
                                                        <input type="text" class="form-control" id="shippingZipcode"
                                                               placeholder="Kod pocztowy" th:name="userShippingZipcode"
                                                               required="required"
                                                               th:value="${userShipping.userShippingZipcode}"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>
                                            <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--                <img class="img-responsive" src="/image/wallpaper11.jpg"/>-->
        </div>

    </div>
    <div th:replace="fragments/header :: footer"></div>
</div>


<div th:replace="fragments/header :: fragments-scripts-bottom"></div>
</body>
</html>