<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: fragments-head"></head>

<body>
<!--<div style="background-image: url('/image/wallpaper2.jpg'); z-index: -1; background-position: center;-->
<!--background-repeat: no-repeat; background-size: 100%; height: 100%">-->

<!-- Static navbar -->
<div th:replace="/fragments/header :: fragments-navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img src="/image/logo.jpg" class="img-responsive logo"/>
        </div>
        <div class="col-xs-8">
            <hr style="position: absolute; width: 100%; height: 2px; background-color: #0f0f0f; margin-top: 70px; margin-left: -50px"/>
            <h2 class="section-headline"><span
                    th:text="${user}? ${#strings.toUpperCase(user.username)} : 'Wszystkie obrazy'"></span>
            </h2>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a class="btn btn-warning" th:href="@{/catalog}">Kontynuuj zakupy</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-primary" th:href="@{/checkout(id=${shoppingCart.id})}">Podsumowanie</a>
                </div>
                <br/>
                <div th:if="${notEnoughtStock}" class="alert alert-warning">
                    Niewystarczająca ilość w magazynie.
                </div>
                <div th:if="${emptyCart}" class="alert alert-warning">
                    Twój koszyk jest pusty.
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-xs-8">Produkty</div>
                    <div class="col-xs-2">Cena</div>
                    <div class="col-xs-2">Ilość</div>
                </div>

                <!--                Products in cart-->
                <div class="row" th:each="cartItem : ${cartItemList}">
                    <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                        <hr/>
                        <div class="col-xs-2">
                            <a th:href="@{pictureDetail(id=${cartItem.picture.id})}">
                                <img class="img-responsive"
                                     th:src="@{http://localhost:8283}+@{/image/picture/}+${cartItem.picture.id}+'.png'"/>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <p th:if="${cartItem.picture.inStockNumber&gt;5}" style="color:green;">Duża ilość w
                                magazynie.</p>
                            <p th:if="${cartItem.picture.inStockNumber&lt;5 and cartItem.picture.inStockNumber&gt;0}"
                               style="color: orange">
                                Pozostało <span th:text="${cartItem.picture.inStockNumber}"></span> sztuk.
                            </p>
                            <p th:if="${cartItem.picture.inStockNumber==0}" style="color:red;">Produkt niedostępny.</p>
                            <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Usuń</a>
                        </div>
                        <div class="col-xs-2">
                            <h5 style="color: darkred; font-size: large">PLN <span
                                    th:text="${cartItem.picture.ourPrice}"
                                    th:style="${cartItem.picture.inStockNumber}==0? 'text-decoration: line-through' : ''">
                            </span></h5>
                        </div>
                        <div class="col-xs-2">
                            <input hidden="hidden" name="id" th:value="${cartItem.id}"/>
                            <input th:id="${cartItem.id}" th:name="qty"
                                   th:disabled="${cartItem.picture.inStockNumber==0}"
                                   class="form-control" th:value="${cartItem.qty}"/>
                            <button style="display:none;" th:id="'update-item-'+${cartItem.id}" type="submit"
                                    class="btn btn-warning btn-xs">Zaktualizuj ilość
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <hr/>
                    <h4 class="col-xs-12 text-right"><strong style="font-size: large;">SUMA: (<span
                            th:text="${#lists.size(cartItemList)}"></span> obrazów):</strong>
                        <span style="color: darkred; font-size: large;"> PLN <span
                                th:text="${shoppingCart.grandTotal}"></span></span></h4>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/header :: footer"></div>

<div th:replace="fragments/header :: fragments-scripts-bottom"></div>

</body>
</html>