body, html {
    height: 100%;
    width: 100%;
}

hr{
    border: none;
    height: 1px;
    color: #1b6d85;
    background-color: #1b6d85;
}

.container{
    width: 90%;
}

.navbar {
    margin-bottom: 20px;
}

.box{
    border: 1px solid red;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.logo{
    height: 250px;
    width: 250px;
}

.home-headline{
    font-family: 'Calibri', serif;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
.home-headline span{
    background-color: black;
    padding: 5px 3px;
}

.section-headline span{
    font-family: 'Calibri', serif;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    background-color: black;
    padding: 1px 3px;
    z-index: 2;
}

.post p{
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span{
    display: block;
    color: #8f8f8f;
}

.heading{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: red;
    padding: 10px 0;
    margin-bottom: 0px;
}

.paddingtop-bottom{
    margin-top: 50px;
}

.banner{
    background-image: url("/image/bgline.png");
}
