<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="fragments-head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="IE=edge"/>

    <title>String Very Art</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->

<!--    <script th:src="@{/js/jquery.dataTables.min.js}"></script>-->
    <!--    data table-->
    <!--    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>-->
    <!--    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">-->
    <!--    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>-->
    <!--    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>-->

    <!--data table-->
<!--    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>-->

    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">

    <!--    <link rel=stylesheet href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>-->
    <!--    <link rel=stylesheet href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>-->

    <link rel="icon" href="/image/icon.jpg"/>
</head>

<body>
<div th:fragment="fragments-navbar">
    <nav class="navbar navbar-default navbar-static-top" style="background-color: rgba(65, 168, 47, 1);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(65, 168, 47, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(65, 168, 47, 1) 100%);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Admin Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Obraz <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/picture/add}">Dodaj nowy obraz</a></li>
                            <li><a th:href="@{/picture/pictureList}">Wszystkie obrazy</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--    <script th:src="@{/js/jquery.min.js}"></script>-->
    <!--    <script th:src="https://code.jquery.com/jquery-1.12.4.min.js"-->
    <!--            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"-->
    <!--            crossorigin="anonymous"></script>-->
    <!--    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>

    <!--    data table-->
<!--    <script th:src="@{/js/jquery.dataTables.min.js}"></script>-->
<!--    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>-->

    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.css"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <!--    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
    <!--    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->

    <!--    <script src="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></script>-->
    <!--    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>-->

    <!--    <script src="/js/jquery.min.js"></script>-->
    <!--    <script src="/js/bootstrap.min.js"></script>-->

    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
<!--    <script src="//cdn.datatable`s.net/1.10.21/js/jquery.dataTables.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</div>
</body>
</html>