<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="fragments-head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>String Very Art</title>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <!--data table-->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">


    <link rel="icon" href="/image/icon.jpg"/>
</head>

<body>
<div th:fragment="fragments-navbar">
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">String Very Art</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a th:href="@{/catalog}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Obrazy <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/catalog}">Przeglądaj obrazy</a></li>
                        <li><a th:href="@{/contact}">O nas</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                    </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-static-top">
                    <form class="navbar-form" th:action="@{/searchPicture}" method="post">
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control" placeholder="Szukaj obrazu"/>
                        </div>
                        <button type="submit" class="btn btn-default">Szukaj</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/shoppingCart/cart}">Koszyk<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Konto<span class="caret"></span></a>
                        <ul class="dropdown-menu">
<!--                            <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Moje konto</a></li>-->
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">Mój profil</a></li>
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>

<div th:fragment="footer">
    <br/><br/>
    <footer>
    </footer>

    <div class="copyright">
        <div class="col-md-6">
            <p>© 2020 - Wszelkie prawa zastrzeżone</p>
        </div>
        <div class="col col-md-6">
            </ul>
        </div>
    </div>
</div>

<!--<div th:fragment="body-bottom-scripts">-->
<div th:fragment="fragments-scripts-bottom">
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.min.js"-->
<!--            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.min.js.map"></script>
    <script src="/js/scripts.js"></script>

    <!--    data table-->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</div>
</body>
</html>